<a href="https://colab.research.google.com/github/laurendunbar/ds1002-npr9wk/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [9]:
# code here
var = 0
while var <= 20:
  if var % 2 == 0:
        print(var)
  var += 1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [10]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [13]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for num in mylist:
    if num >= 0:
        print(num)

9
15
23
4
92
47
33
17
18
38

In [14]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for num in mylist:
    if num < 0:
        num = abs(num)
    print(num)

9
15
23
4
92
47
33
17
4
18
38
242

In [16]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for num in mylist:
    if 20 <= num <= 40:
        continue
    print(num)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [18]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [19]:
# Write a command to print out all the keys of this dict
print(capitals.keys())

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [20]:
# Write a command to print out all the values of this dict
print(capitals.values())

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [23]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
    print(f"Country: {key}, Capital: {value}")

Country: United States, Capital: Washington DC
Country: Italy, Capital: Rome
Country: England, Capital: London
Country: Thailand, Capital: Bangkok
Country: Brazil, Capital: Brasilia

In [24]:
# Write a command to print only the first three values and NOTHING more.
count = 0
for value in capitals.values():
    if count < 3:
        print(value)
        count += 1
    else:
        break

Washington DC
Rome
London